body {
  margin: 0 auto;
  padding: 0;
  /*font-family: sans-serif;*/
  background-color: #e4e4e4;
}

* {
  box-sizing: border-box; }

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 20px !important;
    }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffb700;
}


.search {
  margin-top: 5vw;
}


.logo {
  /*text-decoration: none;*/
  /*background-color: #FFB700;*/
  /*margin:0;*/
  /*padding:0;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%*/
}

.logo div {
}

.search-dropdown-menu {
            background-color: white;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px 8px 8px 8px;
            font-size: 18px;
            color: #111;
        }

.event-info  ul {
  overflow-y: scroll;
  max-height: 33vw;
}

.single-fight{
  /*margin-top: 6vw;*/
}

.home{
  /*margin-top: 9vw;*/
}

.event-container:nth-of-type(1){
  /*margin-top: 6vw;*/
  padding-top:inherit;
}

.event-container:nth-of-type(odd){
  /*background-color: black;*/
}

.event-container:nth-of-type(even){
  /*background-color: #6a8a82;*/
  background-color: #44c7f4;
}

.event-container{
display: flex;
flex-flow: row;
flex-wrap: nowrap;
margin-bottom: 0px;
padding-top: 1.9rem;
}



.event-card {
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}


.white-text-black-border {
     text-shadow: 1px 1px 1px black !important;
}

.versus-page a{
  text-decoration: none;
  color: black;
  /*display:flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*width:90vw;*/
  /*flex-wrap: wrap;*/
  /*margin: 5px;*/
}

/*.versus-page a:hover {*/
  /*color: black;*/
/*}*/

.versus-item {
  margin: 1px 0;
  /*width: 100%;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-around;*/
  /*width: 30vw;*/
}


/*.versus-page img{*/
/*float:right;*/
/*}*/

/*.fighter {*/
/*display:inline-block;*/
/*float:left;*/
/*}*/

.loader {
  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
