/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

* {
  box-sizing: border-box; }

body {

}
img {
  max-width: 60%;
}

.versus-page{
  height: 80%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

img.versus-page {
  align-self:center;
}

.fighter {
  justify-content:center;
}
